@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    /* my settings: */
    height: 100vh;
  }
}

/* custom-by-me */
.custom-self-flex {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.self_display-block {
  padding-top: 0px;
}
/* .self_flex-start {
  flex-start: end;
} */
.self_flex-box {
  display: flex;
  flex-direction: column;
}
.self_height {
  height: 12vh;
}
.self_height-4 {
  height: 4vh;
}

/* temp-styles-by-me */
/* .temp-self-scoped {
  padding-top: 500px;
} */

/* test-styles */
ul {
  padding-left: 0px;
}